<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ukk.cikal.inventaris">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DetailPegawaiActivity"></activity>
        <activity android:name=".views.admin.FormOperatorActivity" />
        <activity android:name=".views.admin.ListOperatorActivity"></activity>
        <activity android:name=".views.FormPegawaiActivity" />
        <activity android:name=".views.ListPegawaiActivity" />
        <activity android:name=".views.admin.ReportActivity" />
        <activity android:name=".views.peminjaman.FormPeminjamanActivity" />
        <activity android:name=".views.peminjaman.PeminjamanActivity" />
        <activity android:name=".views.admin.FormDetailInventActivity" />
        <activity android:name=".views.admin.FormAddInventActivity" />
        <activity android:name=".views.pegawai.PegawaiActivity" />
        <activity android:name=".views.operator.OperatorActivity" />
        <activity android:name=".views.admin.AdminActivity" />
        <activity android:name=".views.LoginPegawaiActivity" />
        <activity android:name=".views.LoginPengelolaActivity" />
        <activity android:name=".views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>